body {
  background: #95a5a6
}

h1 {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  color: white;
}

#gameboard {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
  outline: 4px solid;
  background: #e5f2ff;
}

.row {
  width: 300px;
  height: 100px;
}

.square {
  font-size: 70px;
  text-align: center;
  background: #e5f2ff;
  width: 100px;
  height: 100px;
  outline: 2px solid;
  float: left;
}

.wrapper {
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.score {
  text-align: center;
  position: relative;
  color: white;
}

#restart {
  height: 30px;
  width: 80px;
}
